@import url('https://fonts.googleapis.com/css?family=Inter+Tight:200,400,700,900');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter'
}

/* Hide scrollbar for Chrome */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}